@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Give+You+Glory&family=Shadows+Into+Light&family=Raleway:ital,wght@0,500;1,400&display=swap');

@layer base {
   @font-face {
      font-family: 'Lucky Typewriter';
      font-weight: normal;
      src: local('lucky_typewriter'),
         url('./assets/fonts/lucky_typewriter.ttf') format('truetype');
      /* display: swap; */
   }
   @font-face {
      font-family: 'Southgirl';
      font-weight: normal;
      src: local('southgirl'),
         url('./assets/fonts/southgirl.ttf') format('truetype');
   }
}

@layer utilities {
   .animation-delay-700 {
      animation-delay: 0.7s;
   }
   .text-shadow {
      text-shadow: 0.5px 0.5px 0.5px gray;
   }
}

*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   /* this is 10px */
   font-size: 62.5%;
   scroll-behavior: smooth;
}

/*Disable smooth scrolling when users have prefers-reduced-motion enabled*/
@media screen and (prefers-reduced-motion: reduce) {
   html {
      scroll-behavior: auto;
   }
}

body {
   box-sizing: border-box;
   line-height: 1.7;
   /* padding: 3rem; */
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}
